<nav>
	<div id="nav-l">
	</div>
	<div id="nav-c">
		<ul id="nav-list" style="width: 700px;">
			<li id="home1"><a href="{{ HOME_PATH }}">Home</a></li>
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% for node in pages_list %}
				{% if node.title != null %}
				  {% if group == null or group == node.group %}
					{% if page.url == node.url %}
					<li  id = "{{node.title}}" class="active">
					<span class="nav-l-active"></span>
					<a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a>
					<span class="nav-r-active"></span>
					</li>
					{% else %}
					<li id = "{{node.title}}"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					{% endif %}
				  {% endif %}
				{% endif %}
			 {% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}
		</ul>
		<div id="search">
                  <form action="/search" method="get">
                    <input type="text" id="search-query" class="search-query" name="q" placeholder="Search" autocomplete="off">
                  </form>
        </div>
        
       

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
    </article>
  {{/entries}}
</script>
{% endraw %}

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/search.json',             // URL of the `search.json` index data for your site
      results:  '#search-results',          // jQuery selector for the search results container
      entries:  '.entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
      template: '#search-results-template'  // jQuery selector for the Mustache.js template
    });
  });
</script>

	</div>
	<div id="nav-r">
	</div>
</nav>
